name: Build

on:
  workflow_call:

jobs:
  packwiz-build:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/dalbitresb12/packwiz:2025-11-02

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Prepare build directories
        run: mkdir -p build/curseforge build/modrinth

      - name: Build CurseForge server pack
        working-directory: packwiz/curseforge
        run: packwiz curseforge export --side server --output ../../build/curseforge/MouCraft-curseforge-server.zip

      - name: Build CurseForge client pack
        working-directory: packwiz/curseforge
        run: packwiz curseforge export --side client --output ../../build/curseforge/MouCraft-curseforge-client.zip

      - name: Build Modrinth pack
        working-directory: packwiz/modrinth
        run: packwiz modrinth export --output ../../build/modrinth/MouCraft-modrinth.mrpack

      - uses: actions/upload-artifact@v5
        with:
          name: curseforge
          path: build/curseforge
          retention-days: 1

      - uses: actions/upload-artifact@v5
        with:
          name: modrinth
          path: build/modrinth
          retention-days: 1
