name: Publish

on:
  release:
    types: [published]

jobs:
  modrinth:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Debug release info
        run: |
          echo "Release tag: ${{ github.event.release.tag_name }}"
          echo "Release name: ${{ github.event.release.name }}"
          echo "Release body: ${{ github.event.release.body }}"
          echo "Release draft: ${{ github.event.release.draft }}"
          echo "Release prerelease: ${{ github.event.release.prerelease }}"
          echo "Assets:"
          echo '${{ toJson(github.event.release.assets) }}' | jq

      - name: Get Modrinth asset URL
        id: get_asset
        run: |
          ASSET_URL=$(echo '${{ toJson(github.event.release.assets) }}' \
            | jq -r '.[] | select(.name | endswith(".mrpack")) | .browser_download_url')
          echo "ASSET_URL=$ASSET_URL" >> $GITHUB_ENV

      - name: Get CurseForge client asset URL
        id: get_curseforge_asset
        run: |
          ASSET_URL=$(echo '${{ toJson(github.event.release.assets) }}' \
            | jq -r '.[] | select(.name | test("client.*\\.zip$")) | .browser_download_url')
          echo "CURSEFORGE_ASSET_URL=$ASSET_URL" >> $GITHUB_ENV

      - name: Download Modrinth asset
        run: |
          curl -L -O "${{ env.ASSET_URL }}"

      - name: Download CurseForge client asset
        run: |
          curl -L -O "${{ env.CURSEFORGE_ASSET_URL }}"

      - name: Publish Modrinth pack
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: SYLaBkiA
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          loaders: neoforge
          name: ${{ github.event.release.name }}
          version: ${{ github.event.release.tag_name }}
          game-version-filter: 1.21.1
          files: MouCraft-modrinth-*.mrpack

      - name: Publish CurseForge pack
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          curseforge-id: 1283043
          curseforge-token: ${{ secrets.CF_TOKEN }}
          loaders: neoforge
          name: ${{ github.event.release.name }}
          version: ${{ github.event.release.tag_name }}
          game-versions: 1.21.1
          files: MouCraft-curseforge-client-*.zip
