name: Release

on:
  push:
    branches:
      - main
      - beta

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-pack
          path: build/

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
        run: |
          npx --yes \
            --package semantic-release \
            --package @semantic-release/changelog \
            --package @semantic-release/git \
            --package @semantic-release/commit-analyzer \
            --package @semantic-release/exec \
            --package conventional-changelog-conventionalcommits \
            semantic-release
